<!-- MEAN Stack Features -->
<section class="section has-fadein">
  <div class="container">
    <div class="columns is-multiline is-mobile bodyPadding">




      <!-- JWT Authentication -->
      <div class="column is-12-mobile is-12-tablet is-6-desktop is-4-widescreen">
        <div class="card">
          <img src="assets/images/logos/jwt.png" class="image" alt="JSON Web Token">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2 class="subtitle"><a routerLink="guides/authentication-with-jwt">Authentication with JWT</a></h2>
              <p class="has-text-justified">JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between two parties as a JSON object. Authentication is the most common use scenario. Each request after login will include the JWT for further web resource access.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Firebase -->
      <div class="column is-12-mobile is-12-tablet is-6-desktop is-4-widescreen">
        <div class="card">
          <img class="image" src="assets/images/logos/firebase.png" alt="Firebase">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2 class="subtitle"><a href="https://firebase.google.com" target="_blank">Firebase</a></h2>
              <p class="has-text-justified">The Firebase Realtime Database is a cloud-hosted NoSQL database that lets you store and sync between your users in realtime. ... Realtime syncing makes it easy for your users to access their data from any device, be it web or mobile.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Angular Universal -->
      <div class="column is-12-mobile is-12-tablet is-6-desktop is-4-widescreen">
        <div class="card">
          <img class="image" src="assets/images/guide-headers/angular-universal.png" alt="Angular Universal">
          <div class="card-content">
            <div class="content has-text-centered">
              <h2 class="subtitle"><a routerLink="guides/angular-universal-setup">Angular Universal</a></h2>
              <p class="has-text-justified">Angular Universal is a technology that runs an Angular application on the server. A typical Angular application is downloaded completely before being executed in the browser, which may take some time. Using server-side rendering, Angular Universal generates and serves those same pages only in response to requests from browsers, significantly improving performance</p>
            </div>
          </div>
        </div>
      </div>





    </div>


  </div>
</section>
